<app-split-pane
  storageKey="split.compliance"
  [initialLeftRatio]="0.7"
  [collapseBreakpointPx]="1024"
  [collapsedOnSmallScreens]="true"
>
  <ng-container left>
    <app-split-pane-vertical storageKey="split.compliance.left" [initialTopRatio]="0.7">
      <ng-container top>
        <app-chat [suggestions]="complianceSuggestions" placeholder="Ask about compliance tasks..."></app-chat>
      </ng-container>
      <ng-container bottom>
        <app-history></app-history>
      </ng-container>
    </app-split-pane-vertical>
  </ng-container>

  <ng-container right>
    <app-split-pane-vertical storageKey="split.compliance.right" [initialTopRatio]="0.7">
      <ng-container top>
        <div class="container">
          <div>Compliance dashboard placeholder</div>
          <ul>
            <li>Tasks and deadlines</li>
            <li>Policies</li>
            <li>Evidence</li>
          </ul>
        </div>
      </ng-container>
      <ng-container bottom>
        <app-history></app-history>
      </ng-container>
    </app-split-pane-vertical>
  </ng-container>
</app-split-pane>
