<div class="d-flex flex-column align-items-center w-100">
  <div class="content-container w-90">
    <div class="prompt-input-container mt-2">
      <input
        class="prompt-input"
        type="text"
        [placeholder]="placeholder"
        #promptInput
      />

      <button class="send-button" type="button" aria-label="Send">
        <i class="bi bi-send-fill"></i>
      </button>
    </div>
  </div>

  <div class="suggestions-container">
    @for (suggestion of suggestions; track suggestion.prompt) {
      <div class="suggestion-item small" (click)="onSuggestionClick(suggestion)">
        <i class="bi" [class]="suggestion.icon"></i>
        <span>{{ suggestion.prompt }}</span>
      </div>
    }
  </div>
</div>
