<div class="organization-selector">
  <app-organization-block
    [organization]="null"
    [isAllOrganizations]="true"
    [isSelected]="isOrganizationSelected(null)"
    (organizationSelected)="onOrganizationClick($event)"
  ></app-organization-block>
  @for (org of organizations(); track org.id) {
  <div class="organization-item">
    <app-organization-block
      [organization]="org"
      [isSelected]="isOrganizationSelected(org)"
      (organizationSelected)="onOrganizationClick($event)"
    ></app-organization-block>
    @if (isOrganizationSelected(org)) {
    <app-organization-projects-block
      [organizationId]="org.id"
      [selectedProject]="selectedProject"
      (projectSelected)="onProjectSelected($event)"
    ></app-organization-projects-block>
    }
  </div>
  } @if (!organizations().length) {
  <div class="text-center py-3 text-muted small">No organizations found</div>
  }
</div>
