<app-split-pane
  storageKey="split.timesheet-overview"
  [initialLeftRatio]="0.7"
  [collapseBreakpointPx]="1024"
  [collapsedOnSmallScreens]="true"
>
  <ng-container left>
    <app-split-pane-vertical
      storageKey="split.timesheet-overview.right"
      [initialTopRatio]="0.6"
    >

    <ng-container top>
      <app-summary-metrics [metrics]="summaryMetrics"></app-summary-metrics>
      <div class="card mb-3">
        <div class="card-header">
          <span class="fw-semibold">Organization & Project</span>
        </div>
        <div class="card-body">
          <app-organization-selector
            [selectedOrganization]="selectedOrganization"
            [selectedProject]="selectedProject"
            (organizationSelected)="onOrganizationSelected($event)"
            (projectSelected)="onProjectSelected($event)"
          ></app-organization-selector>
        </div>
      </div>
    </ng-container>
      <ng-container bottom>
        <div class="container-fluid py-3">
        </div>
      </ng-container>
    </app-split-pane-vertical>
  </ng-container>
  <ng-container right>
    <app-filter-view-container
      [timeSheetEntries]="timeSheetEntries"
      [filteredEntries]="filteredEntries"
      [selectedProject]="getSelectedProject() || null"
      [canApprove]="canApprove"
      [pendingCount]="summaryMetrics.pendingCount"
      (filtersChange)="onFiltersChange($event)"
      (refreshRequested)="loadTimeSheetEntries()"
      (approveAllRequested)="approveAllPending()"
    ></app-filter-view-container>
  </ng-container>
</app-split-pane>
