<app-split-pane
  storageKey="split.kpis"
  [initialLeftRatio]="0.7"
  [collapseBreakpointPx]="1024"
  [collapsedOnSmallScreens]="true"
>
  <ng-container left>
    <app-split-pane-vertical storageKey="split.kpis.left" [initialTopRatio]="0.7">
      <ng-container top>
        <app-chat [suggestions]="kpiSuggestions" [context]="kpiContext" placeholder="Ask about KPIs..."></app-chat>
      </ng-container>
      <ng-container bottom>
        <app-history></app-history>
      </ng-container>
    </app-split-pane-vertical>
  </ng-container>

  <ng-container right>
    <app-split-pane-vertical storageKey="split.kpis.right" [initialTopRatio]="0.7">
      <ng-container top>
        <div class="container">
          <div>KPI dashboard placeholder</div>
          <ul>
            <li>Key metrics</li>
            <li>Targets vs actuals</li>
            <li>Owner assignments</li>
          </ul>
        </div>
      </ng-container>
      <ng-container bottom>
        <app-history></app-history>
      </ng-container>
    </app-split-pane-vertical>
  </ng-container>
</app-split-pane>
