.pdf-container {
  height: 100%;
  width: 100%;
}

ngx-extended-pdf-viewer {
  height: 100% !important;
  --pdf-viewer-primary: var(--primary-color);
  --pdf-viewer-secondary: var(--color-surface);
  --pdf-viewer-text: var(--text-primary);
}


