<app-split-pane
  storageKey="split.repos"
  [initialLeftRatio]="0.7"
  [collapseBreakpointPx]="1024"
  [collapsedOnSmallScreens]="true"
>
  <ng-container left>
    <app-split-pane-vertical storageKey="split.repos.left" [initialTopRatio]="0.7">
      <ng-container top>
        <app-chat [suggestions]="repoSuggestions" [context]="repoContext" placeholder="Ask about repositories..."></app-chat>
      </ng-container>
      <ng-container bottom>
        <app-history></app-history>
      </ng-container>
    </app-split-pane-vertical>
  </ng-container>

  <ng-container right>
    <app-split-pane-vertical storageKey="split.repos.right" [initialTopRatio]="0.7">
      <ng-container top>
        <div class="container">
          <div>Repository overview and recent activity will be displayed here</div>
          <ul>
            <li>Open pull requests</li>
            <li>Recent commits</li>
            <li>Default branch build status</li>
          </ul>
        </div>
      </ng-container>
      <ng-container bottom>
        <app-history></app-history>
      </ng-container>
    </app-split-pane-vertical>
  </ng-container>
</app-split-pane>
