<app-split-pane
  storageKey="split.define"
  [initialLeftRatio]="0.7"
  [collapseBreakpointPx]="1024"
  [collapsedOnSmallScreens]="true"
>
  <ng-container left>
    <app-split-pane-vertical storageKey="split.define.left" [initialTopRatio]="0.7">
      <ng-container top>
        <app-chat [suggestions]="defineSuggestions" placeholder="Start describing your project..."></app-chat>
      </ng-container>
      <ng-container bottom>
        <app-history></app-history>
      </ng-container>
    </app-split-pane-vertical>
  </ng-container>

  <ng-container right>
     <div class="container">
        <div>The project definition will be displayed here</div>
        <div>We want to see a summary as well as things like:</div>
        <ul>
          <li>Project Name</li>
          <li>Project Description</li>
          <li>Project Features</li>
          <li>Project Models</li>
          <li>Project Definitions</li>
          <li>Project Services</li>
          <li>Project Components</li>
          <li>User Interaction etc</li>
        </ul>
        <div>The more comprehensive the definition, the better the design and development will be</div>
        <div>A flow chart might be great as well</div>
     </div>
  </ng-container>
</app-split-pane>
