<div class="time-sheet">
  @if (hoveredQuarterHours()) {
    <div
      class="entry-log-item hover-preview"
      [ngStyle]="{
        width: hoverPreviewWidth() + 'px'
      }"
    ></div>
  }
  <div class="d-flex no-wrap entry-log-items">
    @for (entry of numberLineWidths().keys(); track entry.id) {
      <app-time-sheet-entry-item
        [entry]="entry"
        [width]="numberLineWidths().get(entry) || 0"
        [categoryColor]="getCategoryColor(entry)"
        [project]="getProject(entry)"
        (onEntryClick)="openEntryLogItem($event)"
      ></app-time-sheet-entry-item>
    }
  </div>
  <div
    class="d-flex entry-log align-items-start number-line"
    (mouseleave)="onNumberLineLeave()"
  >
    @for (i of numberLineArray(); track i) {
      <div
        class="number-line-item"
        [class.number-line-item-disabled]="disabled() || i === 0"
        [class.number-line-item-hovered]="hoveredQuarterHours() === i"
        [ngStyle]="{
          width: sizeModifier() + 'px',
          height: getNumberLineHeight(i)
        }"
        (mouseenter)="onNumberLineHover(i)"
        (focus)="onNumberLineHover(i)"
        (click)="createEntryAt(i)"
      >
        {{ getNumberLineValue(i) }}
      </div>
    }
  </div>
</div>
