<app-split-pane
  storageKey="split.define"
  [initialLeftRatio]="0.7"
  [collapseBreakpointPx]="1024"
  [collapsedOnSmallScreens]="true"
>
  <ng-container left>
    <app-split-pane-vertical storageKey="split.tickets.left" [initialTopRatio]="0.7">
      <ng-container top>
        <app-chat
          [suggestions]="ticketsSuggestions"
          placeholder="Describe your tickets..."
        ></app-chat>
      </ng-container>
      <ng-container bottom>
        <app-history></app-history>
      </ng-container>
    </app-split-pane-vertical>
  </ng-container>

  <ng-container right>
    <app-split-pane-vertical storageKey="split.tickets.right" [initialTopRatio]="0.7">
      <ng-container top>
        <app-kanban-board storageKey="tickets.kanban.v1"></app-kanban-board>
      </ng-container>
      <ng-container bottom>
        <app-history></app-history>
      </ng-container>
    </app-split-pane-vertical>
  </ng-container>
</app-split-pane>
