<div class="collapsed-nav">
  <div class="logo-section">
    <a routerLink="/home">
      <img
        src="/time-tracker-logo.svg"
        alt="Time Tracker Logo"
        class="site-logo"
      />
    </a>
  </div>

  <div class="nav-items">
    <a
      routerLink="/home"
      routerLinkActive="active"
      #homeActive="routerLinkActive"
      class="nav-item"
      ngbTooltip="Home"
      placement="end"
      container="body"
      triggers="hover"
    >
      <div class="icon-box">
        <i
          class="bi"
          [class.bi-house-door]="!homeActive.isActive"
          [class.bi-house-door-fill]="homeActive.isActive"
        ></i>
      </div>
    </a>
    <a
      routerLink="/time-sheet"
      routerLinkActive="active"
      #timeSheetActive="routerLinkActive"
      class="nav-item"
      ngbTooltip="Time Sheets"
      placement="end"
      container="body"
      triggers="hover"
    >
      <div class="icon-box">
        <i
          class="bi"
          [class.bi-stopwatch]="!timeSheetActive.isActive"
          [class.bi-stopwatch-fill]="timeSheetActive.isActive"
        ></i>
      </div>
    </a>
    @if (admin()) {
      <a
        routerLink="/analytics"
        routerLinkActive="active"
        #analyticsActive="routerLinkActive"
        class="nav-item"
        ngbTooltip="Analytics"
        placement="end"
        container="body"
        triggers="hover"
      >
        <div class="icon-box">
          <i
            class="bi"
            [class.bi-bar-chart]="!analyticsActive.isActive"
            [class.bi-bar-chart-fill]="analyticsActive.isActive"
          ></i>
        </div>
      </a>

      <a
        routerLink="/projects"
        routerLinkActive="active"
        #projectsActive="routerLinkActive"
        class="nav-item"
        ngbTooltip="Projects"
        placement="end"
        container="body"
        triggers="hover"
      >
        <div class="icon-box">
          <i
            class="bi"
            [class.bi-folder]="!projectsActive.isActive"
            [class.bi-folder-fill]="projectsActive.isActive"
          ></i>
        </div>
      </a>
    }
  </div>

  <div class="profile-section">
    <app-side-nav-profile-card [compact]="true" (logout)="logout.emit()" />
  </div>
</div>
