<div class="collapsed-nav">
  <div class="logo-section">
    <a routerLink="/home">
      <img
        src="/time-tracker-logo.svg"
        alt="Time Tracker Logo"
        class="site-logo"
      />
    </a>
  </div>

  <div class="nav-items">
    <a
      routerLink="/home"
      routerLinkActive="active"
      class="nav-item"
      ngbTooltip="Home"
      placement="end"
      container="body"
      triggers="hover"
    >
      <div class="icon-box">
        <i class="bi bi-house-door-fill"></i>
      </div>
    </a>
    <a
      routerLink="/time-sheet"
      routerLinkActive="active"
      class="nav-item"
      ngbTooltip="Time Sheets"
      placement="end"
      container="body"
      triggers="hover"
    >
      <div class="icon-box">
        <i class="bi bi-stopwatch-fill"></i>
      </div>
    </a>
    @if (admin()) {
      <a
        routerLink="/analytics"
        routerLinkActive="active"
        class="nav-item"
        ngbTooltip="Analytics"
        placement="end"
        container="body"
        triggers="hover"
      >
        <div class="icon-box">
          <i class="bi bi-bar-chart-fill"></i>
        </div>
      </a>

      <a
        routerLink="/projects"
        routerLinkActive="active"
        class="nav-item"
        ngbTooltip="Projects"
        placement="end"
        container="body"
        triggers="hover"
      >
        <div class="icon-box">
          <i class="bi bi-folder-fill"></i>
        </div>
      </a>
    }
  </div>

  <div class="profile-section">
    <app-side-nav-profile-card [compact]="true" (logout)="logout.emit()" />
  </div>
</div>
