<div class="collapsed-nav">
  <div class="logo-section">
    <a routerLink="/home">
      <img
        src="/time-tracker-logo.svg"
        alt="Time Tracker Logo"
        class="site-logo"
      />
    </a>
  </div>

  <div class="nav-items">
    <a
      routerLink="/home"
      routerLinkActive="active"
      class="nav-item"
      data-bs-toggle="tooltip"
      data-bs-title="Home"
      data-bs-placement="right"
    >
      <div class="icon-box">
        <i class="bi bi-house-door"></i>
      </div>
    </a>
    <a
      routerLink="/time-sheet"
      routerLinkActive="active"
      class="nav-item"
      data-bs-toggle="tooltip"
      data-bs-title="Time Sheets"
      data-bs-placement="right"
    >
      <div class="icon-box">
        <i class="bi bi-stopwatch"></i>
      </div>
    </a>
    @if (admin()) {
      <a
        routerLink="/analytics"
        routerLinkActive="active"
        class="nav-item"
        data-bs-toggle="tooltip"
        data-bs-title="Analytics"
        data-bs-placement="right"
      >
        <div class="icon-box">
          <i class="bi bi-graph-up"></i>
        </div>
      </a>

      <a
        routerLink="/projects"
        routerLinkActive="active"
        class="nav-item"
        data-bs-toggle="tooltip"
        data-bs-title="Projects"
        data-bs-placement="right"
      >
        <div class="icon-box">
          <i class="bi bi-folder2-open"></i>
        </div>
      </a>
    }
  </div>

  <div class="profile-section">
    <a
      routerLink="/settings"
      routerLinkActive="active"
      class="nav-item"
      data-bs-toggle="tooltip"
      data-bs-title="Settings"
      data-bs-placement="right"
    >
      <div class="icon-box">
        <i class="bi bi-gear"></i>
      </div>
    </a>
    <a
      routerLink="/profile"
      routerLinkActive="active"
      class="nav-item"
      data-bs-toggle="tooltip"
      data-bs-title="Profile"
      data-bs-placement="right"
    >
      <div class="icon-box">
        <i class="bi bi-person-circle"></i>
      </div>
    </a>
    <div
      class="nav-item"
      data-bs-toggle="tooltip"
      data-bs-title="Logout"
      data-bs-placement="right"
      (click)="logout.emit()"
    >
      <div class="icon-box">
        <i class="bi bi-box-arrow-right"></i>
      </div>
    </div>
  </div>

  <button
    class="toggle-btn"
    type="button"
    (click)="toggle.emit()"
    aria-label="Expand side navigation"
  >
    <i class="bi bi-chevron-double-right"></i>
  </button>
</div>
