<app-split-pane
  storageKey="split.db-design"
  [initialLeftRatio]="0.7"
  [collapseBreakpointPx]="1024"
  [collapsedOnSmallScreens]="true"
>
  <ng-container left>
    <app-split-pane-vertical storageKey="split.db-design.left" [initialTopRatio]="0.7">
      <ng-container top>
        <app-chat
          [suggestions]="dbDesignSuggestions"
          placeholder="Describe your data model, entities and relationships..."
        ></app-chat>
      </ng-container>
      <ng-container bottom>
        <app-history></app-history>
      </ng-container>
    </app-split-pane-vertical>
  </ng-container>

  <ng-container right>
    <app-split-pane-vertical storageKey="split.db-design.right" [initialTopRatio]="0.7">
      <ng-container top>
        <div class="container">
          <div>The database design will be displayed here</div>
          <div>We want to see a summary as well as things like:</div>
          <ul>
            <li>Entities and attributes</li>
            <li>Relationships and cardinalities</li>
            <li>Primary and foreign keys</li>
            <li>Indexes and performance considerations</li>
            <li>Normalization and denormalization choices</li>
            <li>Security, PII and compliance notes</li>
            <li>DDL scripts or migration plans</li>
          </ul>
          <div>Visualizations like ER diagrams will help validate the schema.</div>
        </div>
      </ng-container>
      <ng-container bottom>
        <app-history></app-history>
      </ng-container>
    </app-split-pane-vertical>
  </ng-container>
</app-split-pane>


