.time-sheet-day-section {
  width: 100%;
  background-color: var(--color-surface);
}

.time-sheet-day-title {
  color: var(--primary-color-dark);
  font-size: 1.5rem;
  font-weight: 600;
}

.time-sheet-day-date {
  width: 170px;
}

@media (max-width: 1200px) {
  .time-sheet-day-section > .d-flex {
    flex-flow: row wrap;
    padding: 0px 0px;
  }
}
