<div class="container">
  <p>Testing page content will go here</p>
  <p>This is where we will run automated tests on the project</p>
  <p>We want to see a list of tests with their name, description, and a button to run them</p>
  <p>We want to see the results of the tests in real time</p>
  <p>We want to see the logs of the tests in real time</p>
  <p>We want to see the reports of the tests in real time</p>
  <p>We want to see the trends of the tests in real time</p>
  <p>We want to see the performance of the tests in real time</p>
  <p>We want to see the errors of the tests in real time</p>
  <p>We want to see the warnings of the tests in real time</p>
</div>
